.page-wrapper{
  background: var(--color-black);
  min-height: 100%; 
  box-sizing: border-box; /* Include padding and border in total height */
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #000  !important;
}
.navbar-toggler-icon{
  background-image: url('../menu.svg')!important;
}
.offcanvas.offcanvas-end{
  background: var(--color-black);
  width: 100%  !important;
}
.nav-item > a{
  color: var(--color-white);
}
.nav-item > .active{
  color: var(--color-crimson-100);
}
.nav-item > a{
  color: var(--color-white);
}
.btn-close{
  filter: invert(1);
}
/* hero section */
.site-title{
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.site-title > h1{
font-size: calc(var(--font-size-xxl) * 2) !important;
font-style: normal;
font-weight: 800;
line-height: 100.85px; /* 107.267% */
letter-spacing: -1.76px;
}
.hero-description{
  max-width:800px;
  overflow: hidden;
  margin-top: 2rem;
}
.hero-description p{
  font-size: var(--font-size-xl);
  
  margin: 0;
  opacity: 1;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        transform: translateY(0);
  /* animation: slideUp 1s ease-in-out infinite alternate; */
}
.hero-description p.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
.hero-section{
  padding: 80px 0;
  margin: 2rem 0;
}
.section-title > h2{
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -2px;
  color: var(--color-gray-100) !important;
}
.image-wrapper{
  height: 253px;
  border-radius: 5px;
  overflow: hidden;
}
.image-wrapper > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-title{
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}
.card-body{
   color: var(--color-gray-100) !important;
}
.tab-image-wrapper {
  border-radius: 89.386px;
  width: 604.976px;
  overflow: hidden;
}
.tab-image-wrapper .tab-img-fluid{
  border: 1.934px solid rgba(255, 255, 255, 0.60);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content-title{
  color:var(--color-crimson-100);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.content-description{
  max-width: 760px;
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
}
.nav-pills .nav-link .tab-icon-content{
  display: none;
}
.nav-pills .active{
  min-width: max-content;
  background: transparent !important;
}
.nav-pills .nav-link.active .tab-icon-content {
  display: inline-flex;
  align-items: center;
  color: #FBC50B;
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.nav-pills .nav-link.active .tab-icon-content .icon-wrapper {
  display: inline-flex;
  align-items: center;
}
.nav-pills .nav-link.active  .inactive-icon{
  display: none;
}
.nav-pills .nav-link.active .tab-icon-content .icon-wrapper img{
  padding:0.75rem ;
  border-radius: 50%;
  background-color: #000;
  width: 80px;
  height: 80px;
  object-fit: contain;
  vertical-align: bottom;
  margin-left: 1rem;
}
.nav-pills{
width: 67px;
padding: 2rem 0;
border-radius: 46.437px;
background: #FFF;
}
.nav-pills .nav-link{
  max-width: max-content;
  margin-bottom: 1rem;
}
/* carousel  */
#carouselProgressIndicators .carousel-inner .carousel-item button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-bottom: 4rem;
}
#carouselProgressIndicators .carousel-inner .active button{
  background: #FBC50B;
}

.timeline-carousel {
  margin: 0 auto;
  position: relative;
}

.timeline-indicator-progress {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FBC50B;
  height: 4px;
  width: 0;
  border-radius: 2px;
  transition: width 0.5s ease;
}

.timeline-indicators {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 10;
}

.timeline-indicator {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 2rem;
}

.timeline-indicator.active {
  background-color: #FBC50B;
  border: 2px solid #FBC50B;
  position: relative; /* Add this line */
}

.timeline-indicator.active .timeline-indicator-progress {
  width: 100%;
}
.timeline-indicator{
  position: relative;
  margin: 3rem;
}carousel slide timeline-carousel pointer-event
.timeline-indicator.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #FBC50B;
  height: 14px;
  width: 100%;
  border-radius: 2px;
}

.timeline-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.timeline-item {
  text-align: center;
  display: none;
  padding: 20px;
  color: var(--color-white);
}

.timeline-item p {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 996px;
  margin-inline: auto;
}

.timeline-item h3 {
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
}

.timeline-item.active {
  display: block;
}
.nav-link:focus, .nav-link:hover{
  color:var(--color-crimson-100) !important;
}
.nav-link{
  color:var(--color-white) !important;
}
.offcanvas-body{
  overflow-y:unset !important;
}
.dropdown{
  cursor:pointer;
}
.dropdown-menu {
  z-index: 9999 !important;
}

/* Added Css while updating UI and Bugs */

.nav.flex.flex-column .nav-item {
  width: 35%;
}
