.yesflorian-wehde-ivw7mzpwd4g-u-icon {
  position: absolute;
  top: calc(50% - 263.74px);
  left: 0;
  border-radius: var(--br-8xs);
  width: 380px;
  height: 253.33px;
  overflow: hidden;
  object-fit: cover;
}
.heading-4,
.research {
  position: absolute;
  left: 0;
}
.research {
  top: -4.28px;
  letter-spacing: -0.18px;
  line-height: 28.08px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 348px;
  height: 27px;
}
.heading-4 {
  width: 100%;
  top: 277.05px;
  right: 0;
  height: 23px;
}
.we-dive-deep {
  top: -1px;
  letter-spacing: -0.2px;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  width: 372px;
}
.divcard,
.p,
.we-dive-deep {
  position: absolute;
  left: 0;
}
.p {
  width: 100%;
  top: 316.13px;
  right: 0;
  height: 89px;
  opacity: 0.9;
  font-size: var(--font-size-base);
}
.divcard {
  width: calc(100% - 1254px);
  top: 0;
  right: 1254px;
  background-color: var(--color-black);
  height: 527.48px;
  font-size: 22.08px;
}
.our-experience-with,
.plan {
  position: absolute;
  left: 0;
  font-weight: 600;
}
.plan {
  top: -4.28px;
  letter-spacing: -0.18px;
  line-height: 28.08px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 169px;
  height: 27px;
}
.our-experience-with {
  top: 3px;
  letter-spacing: -0.2px;
  line-height: 30px;
  display: inline-block;
  width: 379.47px;
  height: 143px;
}
.divcard1,
.p1 {
  position: absolute;
}
.p1 {
  width: 100%;
  top: 316.13px;
  right: 0;
  left: 0;
  height: 84px;
  opacity: 0.9;
  font-size: var(--font-size-base);
}
.divcard1 {
  width: calc(100% - 1254px);
  top: 0;
  right: 836px;
  left: 418px;
  background-color: var(--color-black);
  height: 527.48px;
  font-size: 21.94px;
}
.execute,
.we-weave-compelling {
  position: absolute;
  left: 0;
  font-weight: 600;
}
.execute {
  top: -3px;
  letter-spacing: -0.18px;
  line-height: 28.08px;
  text-transform: uppercase;
}
.we-weave-compelling {
  top: 3px;
  letter-spacing: -0.2px;
  line-height: 30px;
  display: inline-block;
  width: 379.09px;
  height: 143px;
}
.divcard2,
.optimize {
  position: absolute;
  top: 0;
}
.divcard2 {
  width: calc(100% - 1254px);
  right: 418px;
  left: 836px;
  background-color: var(--color-black);
  height: 527.48px;
}
.optimize {
  left: 0;
  letter-spacing: -0.18px;
  line-height: 28.08px;
  text-transform: uppercase;
  font-weight: 600;
}
.continuously-monitoring-campai {
  position: absolute;
  top: 3.03px;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  width: 379px;
  height: 119px;
}
.divcard3,
.p3 {
  position: absolute;
  right: 0;
}
.p3 {
  width: 100%;
  top: 315.95px;
  left: 0;
  height: 140px;
  opacity: 0.9;
  font-size: var(--font-size-base);
}
.divcard3 {
  width: calc(100% - 1254px);
  top: 0.05px;
  left: 1254px;
  background-color: var(--color-black);
  height: 527.48px;
}
.divcard-group,
.divcard-parent,
.group-parent {
  position: absolute;
  width: calc(100% - 1672px);
  top: 0;
  right: 1672px;
  left: 0;
  height: 527.53px;
}
.divcard-group,
.group-parent {
  right: 0;
  left: 1672px;
}
.group-parent {
  width: calc(100% + 2631px);
  right: -2631px;
  left: 0;
}
.component-3 {
  position: absolute;
  top: 1140px;
  left: 1266px;
  width: 675px;
  height: 449px;
  overflow: hidden;
}
.pseudo {
  position: absolute;
  height: 5.69%;
  width: 10.56%;
  top: 24.86%;
  right: 130.35%;
  bottom: 69.45%;
  left: -40.92%;
  border: 3.5px solid var(--color-crimson-200);
  box-sizing: border-box;
}
.talk-to-us {
  position: absolute;
  top: 19.13px;
  left: 40.72px;
  letter-spacing: -0.23px;
  line-height: 26.18px;
}
.link {
  position: absolute;
  top: 284.7px;
  left: -798.37px;
  background-color: var(--color-white);
  width: 202.81px;
  height: 68.07px;
  font-size: 25.23px;
  color: var(--color-black);
}
.background-icon {
  position: absolute;
  top: 920.64px;
  left: 0;
  width: 2378.72px;
  height: 1366.37px;
}
.social-media-marketing1 {
  position: absolute;
  top: 320px;
  left: 104px;
  font-size: 96.81px;
  letter-spacing: -1.76px;
  line-height: 103.85px;
  font-weight: 800;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  width: 713.25px;
}
.social-media-marketing-child,
.social-media-marketing-item {
  position: absolute;
  top: 134.74px;
  left: 958.75px;
  border-radius: var(--br-10xs);
  width: 17.54px;
  height: 17.54px;
}
.social-media-marketing-item {
  top: 914.75px;
  left: 737.75px;
}
.social-media-marketing-is-the-wrapper {
  position: absolute;
  top: 8px;
  left: 0;
  width: 798px;
  height: 105px;
  font-size: var(--font-size-3xl);
}
.at-nomadz-digital {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.23px;
  line-height: 34.91px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 798px;
}
.at-nomadz-digital-indias-pre-wrapper {
  position: absolute;
  top: 192px;
  left: 2px;
  width: 798px;
  height: 70px;
}
.component-1,
.our-mastery-in-audience-segmen-wrapper {
  position: absolute;
  top: 340px;
  left: 2px;
  width: 798px;
  height: 105px;
}
.component-1 {
  top: 598px;
  left: 104px;
  width: 800px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.social-media-marketing-inner {
  position: absolute;
  top: 528px;
  left: -2px;
  background: linear-gradient(178.64deg, #d9d9d9, #000 0.01%, transparent);
  width: 989px;
  height: 127px;
}
.rectangle-div {
  position: absolute;
  top: 782px;
  left: 987px;
  background: linear-gradient(180deg, #000, #000 0.01%, transparent);
  width: 989px;
  height: 127px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.group-child,
.group-icon {
  position: absolute;
  top: 150.65px;
  left: 1066px;
  width: 766.84px;
  height: 776.35px;
}
.group-child {
  top: 974px;
  left: 134px;
  background-color: rgba(0, 0, 0, 0.44);
  backdrop-filter: blur(5.8px);
  width: 375px;
  height: 505px;
}
.group-child1,
.group-child2,
.group-inner,
.group-item {
  position: absolute;
  top: 1603px;
  left: 995px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44));
  backdrop-filter: blur(14.9px);
  width: 51px;
  height: 68px;
}
.group-child1,
.group-child2,
.group-inner {
  top: 931px;
  left: 1002px;
}
.group-child1,
.group-child2 {
  top: 770px;
  left: 0;
}
.group-child2 {
  top: 0;
  left: 221px;
}
.rectangle-parent {
  position: absolute;
  top: 110px;
  left: 722px;
  width: 1053px;
  height: 1671px;
}
.heading-2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -2px;
  line-height: 118px;
  font-weight: 500;
}
.your-audience {
  color: var(--color-gray-100);
}
.heading-2-container,
.heading-21 {
  position: absolute;
  left: 0;
  letter-spacing: -2px;
  line-height: 118px;
  font-weight: 500;
}
.heading-2-container {
  top: 99px;
  color: var(--color-crimson-200);
}
.heading-21 {
  top: 198px;
  display: flex;
  align-items: center;
  width: 993.98px;
  height: 158px;
}
.heading-2-the-benefits-of-a-parent {
  position: absolute;
  top: 1154px;
  left: 49px;
  width: 1076px;
  height: 356px;
  font-size: var(--font-size-77xl);
}
.group-child3 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background-color: var(--color-black);
  width: 1920px;
  height: 98px;
}
.link-bojzwyt7fpwfooypg9u6pn {
  position: absolute;
  top: 37.77px;
  left: 40.47px;
  width: 100px;
  height: 22.91px;
  overflow: hidden;
  object-fit: cover;
}
.divabsolute,
.divtransition-all,
.divtransition-all1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 40px;
  height: 4px;
}
.divabsolute,
.divtransition-all1 {
  top: 9.23px;
}
.divabsolute {
  width: 100%;
  top: 18.23px;
  right: 0;
  height: 5.39px;
}
.divtransition-all-parent {
  position: absolute;
  top: 37.77px;
  left: 1824px;
  width: 40px;
  height: 23.62px;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  width: 1920px;
  height: 98px;
}
.image-71-icon {
  position: absolute;
  height: 100%;
  width: 41.84%;
  top: 0;
  right: 58.16%;
  bottom: 0;
  left: 0;
  border-radius: 89.39px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.establish-your-brands {
  position: absolute;
  height: 52.49%;
  width: 52.56%;
  top: 36.47%;
  left: 47.44%;
  letter-spacing: -0.3px;
  line-height: 45.64px;
  display: flex;
  align-items: center;
}
.linkedin-marketing {
  position: absolute;
  top: 22.2%;
  left: 47.47%;
  font-size: 37.13px;
  letter-spacing: -0.74px;
  line-height: 52.3px;
  font-family: var(--font-sansserif);
  color: var(--color-crimson-100);
}
.image-71-parent {
  position: absolute;
  height: 95.61%;
  width: 100%;
  top: 316.97%;
  right: 0;
  bottom: -312.58%;
  left: 0;
}
.enhance-your-brands {
  position: absolute;
  height: 41.38%;
  width: 52.53%;
  top: 36.38%;
  left: 47.47%;
  letter-spacing: -0.3px;
  line-height: 45.64px;
  display: flex;
  align-items: center;
}
.image-71-group,
.image-71-icon2 {
  position: absolute;
  height: 95.61%;
  width: 100%;
  top: 211.99%;
  right: 0;
  bottom: -207.6%;
  left: 0;
}
.image-71-icon2 {
  height: 100%;
  width: 41.85%;
  top: 0;
  right: 58.15%;
  bottom: 0;
  border-radius: 89.39px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.benefit-from-cost-effective {
  position: absolute;
  height: 41.38%;
  width: 52.55%;
  top: 36.47%;
  left: 47.45%;
  letter-spacing: -0.3px;
  line-height: 45.64px;
  display: flex;
  align-items: center;
}
.facebook-marketing {
  position: absolute;
  top: 22.2%;
  left: 47.48%;
  font-size: 37.13px;
  letter-spacing: -0.74px;
  line-height: 52.3px;
  font-family: var(--font-sansserif);
  color: var(--color-crimson-100);
}
.image-71-container,
.image-71-icon3 {
  position: absolute;
  height: 95.61%;
  width: 99.97%;
  top: 107.01%;
  right: 0.03%;
  bottom: -102.62%;
  left: 0;
}
.image-71-icon3 {
  height: 100.75%;
  width: 41.97%;
  top: -0.37%;
  right: 58.03%;
  bottom: -0.37%;
  border-radius: 89.39px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.leverage-the-power {
  position: absolute;
  height: 41.38%;
  width: 52.53%;
  top: 28.66%;
  left: 47.47%;
  letter-spacing: -0.3px;
  line-height: 38px;
  display: flex;
  align-items: center;
}
.group-div {
  position: absolute;
  height: 95.61%;
  width: 100%;
  top: 2.03%;
  right: 0;
  bottom: 2.37%;
  left: 0;
  font-size: var(--font-size-3xl);
}
.group-container {
  position: absolute;
  top: 0;
  left: 379px;
  width: 1446px;
  height: 542px;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  height: 12.43%;
  width: 169.77%;
  top: 0;
  right: -90.88%;
  bottom: 87.57%;
  left: 21.11%;
  border-radius: 46.44px;
  background-color: var(--color-white);
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.frame-item {
  position: absolute;
  height: 15.33%;
  width: 26.02%;
  top: 11.26%;
  right: 66.14%;
  bottom: 73.41%;
  left: 7.84%;
  border-radius: 50%;
  background-color: var(--color-black);
}
.vector-icon {
  position: absolute;
  height: 54.55%;
  width: 20.89%;
  top: 23.64%;
  right: 79.11%;
  bottom: 21.82%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.meta-marketing1 {
  position: absolute;
  top: 0;
  left: 27.83%;
  letter-spacing: -0.77px;
  line-height: 54.09px;
}
.vector-parent {
  position: absolute;
  height: 10.16%;
  width: 66.46%;
  top: 13.85%;
  right: 14.73%;
  bottom: 76%;
  left: 18.81%;
}
.facebook-marketing1,
.instagram-marketing1,
.linkedin-marketing1 {
  position: absolute;
  top: 34.53%;
  left: 37.3%;
  letter-spacing: -0.77px;
  line-height: 54.09px;
  opacity: 0;
}
.instagram-marketing1,
.linkedin-marketing1 {
  top: 52.62%;
}
.linkedin-marketing1 {
  top: 76.08%;
}
.group-icon1,
.group-icon2,
.vector-icon1 {
  position: absolute;
  height: 7.39%;
  width: 12.53%;
  top: 36.01%;
  right: 82.77%;
  bottom: 56.61%;
  left: 4.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.group-icon2 {
  width: 12.46%;
  top: 54.1%;
  right: 82.84%;
  bottom: 38.51%;
}
.group-icon2 {
  width: 12.54%;
  top: 77.55%;
  right: 82.76%;
  bottom: 15.06%;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 319px;
  height: 541.57px;
  font-size: var(--font-size-3xl);
  color: var(--color-gold);
  font-family: var(--font-inter);
}
.frame-parent {
  position: absolute;
  top: 1724px;
  left: calc(50% - 913px);
  width: 1825px;
  height: 542px;
  font-size: 31.38px;
  color: var(--color-white);
}
.all-rights-reserved {
  position: absolute;
  top: 15px;
  left: 0;
}
.all-rights-reserved-parent,
.bottom-bar-icon {
  position: absolute;
  top: 0;
  left: 1572px;
  width: 260px;
  height: 48px;
}
.all-rights-reserved-parent {
  top: 2408px;
  left: 40px;
  width: 1832px;
  font-size: 14px;
  color: #9a9ea6;
  font-family: var(--font-poppins);
}
.line-div {
  position: absolute;
  top: 2383.5px;
  left: 39.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  width: 1825px;
  height: 1px;
}
.group-child4 {
  position: absolute;
  top: 30px;
  left: 19px;
  background-color: var(--color-crimson-200);
  width: 14px;
  height: 14px;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44));
  backdrop-filter: blur(14.9px);
  width: 51px;
  height: 68px;
}
.group-child6,
.rectangle-parent1 {
  position: absolute;
  top: 1595px;
  left: 584px;
  width: 51px;
  height: 68px;
}
.group-child6 {
  top: 30px;
  left: 19px;
  background-color: var(--color-gold);
  width: 14px;
  height: 14px;
}
.group-child8,
.rectangle-parent2 {
  position: absolute;
  top: 2144px;
  left: 250px;
  width: 51px;
  height: 68px;
}
.group-child8 {
  top: 30px;
  left: 19px;
  background-color: #003c82;
  width: 14px;
  height: 14px;
}
.rectangle-parent3 {
  position: absolute;
  top: 2185px;
  left: 1492px;
  width: 51px;
  height: 68px;
}
.social-media-marketing {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 2496px;
  overflow: hidden;
  text-align: left;
  font-size: 22.78px;
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}

